{% extends 'layout.twig' %}

{% block content %}
    {% if is_granted('ROLE_USER') %}
    <hr>
    <h2 class="intro-text text-center">
        Dodaj kategorie
    </h2>
    <hr>
    <form action="" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit"/>
    </form>
     {% else %}

         Nie masz uprawnień
     {% endif %}
{% endblock %}