{% extends 'layout.twig' %}

{% block content %}
    <p>
        <a href="{{ url('/categories/add') }}" title="Add Category">
            <button type="button" class="btn btn-success">Dodaj kategorie</button>
        </a>
    </p>
    {% for category in categories %}
        <div class="col-lg-12 text-center">
            <p>
                {{ category.name|e }}
                <a href="{{ url('/categories/edit',{'idcategory': category.idcategory|e}) }}" title="Edit Category">
                    <button type="button" class="btn btn-warning">Edytuj kategorie</button>
                </a>
                <a href="{{ url('/categories/delete',{'idcategory': category.idcategory|e}) }}" title="Delete Category">
                    <button type="button" class="btn btn-danger">Usuń kategorie</button>
                </a>
            </p>
            <hr>
        </div>
    {% endfor %}

{% endblock %}