{% extends 'layout.twig' %}

{% block content %}
    <h1>
        Usuń projekt
    </h1>
    <div>
        <h3>Czy na pewno chcesz usunąć ten projekt?</h3>

        <form action="#" method="post">
            {{ form_widget(form) }}
        </form>
    </div>

{% endblock %}