{% extends 'layout.twig' %}

{% block content %}
    <h1>
        Edytuj projekt
    </h1>
    <form action="" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit"/>
    </form>
{% endblock %}