{% extends 'layout.twig' %}

{% block content %}
    <h1>
        Usuń Post
    </h1>
    <div>
        <h3>Czy na pewno chcesz usunąć post?</h3>

        <form action="#" method="post">
            {{ form_widget(form) }}
        </form>
    </div>

{% endblock %}